/* Reset some default browser styles */
body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply a box-sizing border-box to all elements for more consistent sizing */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Filters section styles */
.filters {
  display: flex;
  justify-content: space-between;
}

.locations,
.amenities {
  width: 45%;
}

/* Places section styles */
.places {
  margin-top: 20px;
}

article {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media query for screens with a max-width of 720px */
@media only screen and (max-width: 720px) {
  .filters {
    flex-direction: column;
  }

  .locations,
  .amenities {
    width: 100%;
  }
}

